{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/event-index.css' %}">
{% endblock %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    
</head>
<body>
    <h1>All Events</h1>
    <ul>
        {% for event in events %}
            <li>
                {{ event.name }} - {{ event.date }}    
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}