{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/event-index.css' %}">
{% endblock %}

{% block content %}
<h1>All Events</h1>
    <a href="{% url 'event-create' %}">
        <button id="addEventButton">New Event</button>
    </a>
<ul>
    {% for event in events %}
        <li>
            <a href="{% url 'event_detail' event.pk %}">
                {{ event.name }} - {{ event.date }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}