{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Octagon Nation{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="">Fighters</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                {% else %}
                <li><a href="{% url 'home' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

   
    <main>
        {% block content %}
        <!-- Page specific content will go here -->
        {% endblock %}
    </main>

    
    <footer>
        <p>&copy; 2024 Octagon Nation. All rights reserved.</p>
    </footer>

    
</body>
</html>