{% extends 'base.html' %}
{% block head%}
{% if not user.is_authenticated%}
<html>
<body>
  <h1>Octagon Nation</h1>
  <h2>Sign Up</h2>
  <form method="POST">
    
    <button type="submit">Sign Up</button>
  </form>
  
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %} {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
</body>
</html>
{% endif %}
{% endblock %}

